/* Toolbar icon */
#grunt-toolbar-icon {
  background: url("../assets/grunt.png") no-repeat 0 0;

}

#grunt-toolbar-icon.on {
   background: url("../assets/grunt-on.png") no-repeat 0 0;
}

.task-list{
	overflow:
}

.task:hover
{
  color: black;
  cursor: pointer;
}

